.logo{grid-area:logo; }
.brandName{grid-area:brandName; }
.home{grid-area:home; }
.gallery{grid-area:gallery; }
.commissions{grid-area:commissions; }
.about{grid-area:about; }
.contactUs{grid-area:contactUs; }
.img-container{grid-area: img-container;}
.commision-content{grid-area: commision-content;}
.footer{grid-area:footer; }

.grid-container{
    display: grid;
    grid-template-areas:
            'logo brandName brandName home gallery commissions about contactUs'
            'img-container img-container img-container img-container commision-content commision-content commision-content commision-content'
            'footer footer footer footer footer footer footer footer';
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
}
/*-----------------------nav--------------------------*/
.brandName {
    font-family: 'Sacramento', cursive;
    margin-top: 17px;
    height: 110px;

}

.logo{
    /*border: black solid;*/
    margin-top: 20px;
    margin-left:20px ;
    height: 110px;

}
.home{
    margin-top: 10px;
    height: 110px;
    margin-left: 258px;
    text-align: center;
    line-height: 150px;
    border-bottom: black solid;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom-width: 2px;

}
.home a{
    text-decoration: none;
    color: black;
}
.home a:hover{
    color: #f1c100;
}
.gallery{
    margin-top: 10px;
    height: 110px;
    text-align: center;
    border-bottom: black solid;
    line-height: 150px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom-width: 2px;

}
.gallery a{
    text-decoration: none;
    color: black;
}
.gallery a:hover{
    color: #f1c100;
}
.commissions{
    margin-top: 10px;
    height: 110px;
    text-align: center;
    border-bottom: black solid;
    line-height: 150px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom-width: 2px;
}
.commissions a{
    text-decoration: none;
    color: black;
}
.commissions a:hover{
    color: #f1c100;
}
.about{
    margin-top: 10px;
    height: 110px;
    text-align: center;
    border-bottom: black solid;
    line-height: 150px;
    margin-right: 0px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom-width: 2px;

}
.about a{
    text-decoration: none;
    color: black;
}
.about a:hover{
    color: #f1c100;
}
.contactUs{
    margin-top: 10px;
    height: 110px;
    text-align: center;
    border-bottom: black solid;
    border-left:20px ;
    line-height: 150px;
    margin-right: 150px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom-width: 2px;
}
.contactUs a{
    text-decoration: none;
    color: black;
}
.contactUs a:hover{
    color: #f1c100;
}

/*------------------Content-----------------------------------*/
.img-commision {
    width: 100%;
    height: 100%;
}

.img-container{
    padding: 40px 130px;
}

.commision-content {
    padding: 20px 50px;
    font-family: Quicksand;
    font-size: 24px;
    text-align: justify;
}

.btn-book {
    background-color: #B5838D;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    cursor: pointer;
    width: 360px;
    height: 86px;
    display: block;
    border-radius: 20px;
    margin: 30px 320px;
}

.btn-book:hover {
    background-color: whitesmoke;
    border-style: solid;
    border-color: #B5838D;
    color: #B5838D;
}

/*-------------------------footer---------------------------*/
.footer{
    height: 170px;
    margin-top: 100px;
    margin-bottom: 0;

}
.fbIcon{
    font-size: 60px;
    float: left;
    margin-left: 55px;
    margin-top: 43px;
}
.fbIcon a{
    color: aliceblue;
}
.fbIcon a:hover{
    color: #f1c100;
}
.instaIcon{
    font-size: 60px;
    float: left;
    margin-left: 48px;
    margin-top: 43px;
}
.instaIcon a{
    color: aliceblue;
}
.instaIcon a:hover{
    color: #f1c100;
}
.footerName{
    float: left;
    margin-left: 576px;
    margin-top: 43px;
    font-size: 40px;
    border-bottom: aliceblue solid;
    font-family: 'Sacramento', cursive;
}
.footerEndName{
    float: left;
    margin-left: -180px;
    margin-top: 120px;
    font-size: 10px;
}